    <footer class="footer">
        <p>
            &copy; 2025 - Mini Message Board project by <a href="https://github.com/Lemuller04" rel="noopener noreferrer" target="_blank">Leonardo Müller</a>, based on <a href="https://theodinproject.com" rel="noopener noreferrer" target="_blank">The Odin Project</a>'s <a href="https://www.theodinproject.com/lessons/node-path-nodejs-mini-message-board" rel="noopener noreferrer" target="_blank">Mini Message Board</a> project.
        </p>
    </footer>
    <script src="/js/menu.js"></script>
    <script src="/js/form.js"></script>
</body>
</html>
