<%- include("../partials/header.ejs") %>
<main>
    <h1><%= title || "404 - Not Found" %></h1>
    <p>
        We couldn't find the page you were looking for.
        <br>
        You can go back to the messages page here: <a href="/">Home</a>
    </p>
</main>
<%- include("../partials/footer.ejs") %>
