.message-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .3rem 1rem;
  background-color: transparent;
}

.message-main p {
  text-align: center;
  max-width: 600px;
  overflow-wrap: anywhere;
  word-break: break-word;
  border-left: 2px solid var(--dark-highlight);
  margin-bottom: 1.5rem;
  padding-left: .5rem;
}

.message-main p:hover {
  background-color: #d7ccd9;
  cursor: pointer;
}

.message-main h1 {
  font-size: 2rem;
  padding-bottom: .3rem;
}
